@use 'src/styles/_vars.scss';
.user-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.user {
  width: 100%;
  height: 100%;
  background: vars.$colorBeige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  &-logo {
    position: fixed;
    top: 0;
    width: 320px;
    height: 320px;
  }
  &-button {
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: vars.$colorBeige;
    color: vars.$colorDarkGreen;
    border-radius: 3px;
    &-group {
      width: 100%;
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 100px;
      font-size: 1.2em;
    }
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      &:active {
        transform: scale(0.97);
      }
    }
    &-title {
      width: 250px;
      height: auto;
      color: vars.$colorDarkGreen;
      font-size: 1.3em;
      margin-bottom: 3%;

    }
  }
  
}
ion-icon:active{
    transform: scale(0.92);
}
.top{
  border-bottom: solid 1px vars.$colorMediumGreen;
}
.hidden {
  display: none;
}
