@use "src/styles/_vars.scss";

.aboutUs {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: vars.$colorDarkGreen;

  h2{
    font-family: vars.$fontMontserrat;
    font-size: 30px;
    color: vars.$colorDarkGreen;
    border-bottom: 1px solid vars.$colorMediumGreen;
    padding: 2%;
    text-align: center;
    margin: 3%;
  }

  p{
    margin-top: 5%;
    font-family: vars.$fontLekton;
    font-weight: 500;
    margin: 5% 17%;
    
  }
  span {
    font-weight: bold;
    color: vars.$colorOrange;
  }
}
