
// Font
$fontMontserrat:'Montserrat', sans-serif;
$fontLekton:'Quicksand', sans-serif;


// Font colors
$colorveryLightGreen: #F1F5DF;
$colorLightGreen:#f2f5df;
$colorMediumGreen:#70bd9d;
$colorDarkGreen: #356859;
$colorBeige:#fffbe6;
$colorOrange:#fd7c55;
$colorTitleLogin:#c5b66b;

//taille
$sizeH2:60px;
$sizeText:16px;



