@use 'src/styles/_vars.scss';

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: vars.$colorDarkGreen;

  h2 {
    font-family: vars.$fontMontserrat;
    font-size: 30px;
    color: vars.$colorDarkGreen;
    border-bottom: 1px solid vars.$colorMediumGreen;
    width: 100%;
    padding: 2%;
    margin: 3%;
  }

  p {
    font-family: vars.$fontLekton;
    font-weight: 700;
    margin: 5% 8%;
  }

  a {
    font-family: vars.$fontLekton;
    margin: 2% 7%;
  }
  &_info{
    font-weight: 700;
    color: vars.$colorMediumGreen;
  }
}
@media only screen and (min-width: 577px) {
  .contact-paragraph {
    width: 70%;
    text-align: center;  
  }
}

@media only screen and (min-width: 1024px) {
  .contact {  
    p {
      margin: 2%;
    }
  }
}
