@use 'src/styles/_vars.scss';

.devTeam {
  color: vars.$colorDarkGreen;
  margin-top: 5%;
  font-family: vars.$fontLekton;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  h2 {
    font-family: vars.$fontMontserrat;
    font-size: 30px;
    color: vars.$colorOrange;
    text-align: center;
    margin: 3%;
  }
  p{
    font-weight: 600;
  }
  &_cards {
    display: block;
    text-align: center;
  }

  &_image {
    width: 100%;
  }
  

  &_card {
    margin-left: 5%;
    margin-top: 8%;
    box-shadow: 5px 5px 5px vars.$colorOrange;
    border-radius: 50%;
    padding: 25%;

    h3{
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 10%;
    } 
  }

  &_info{
    margin-top: 10%;
  }
}
