@use 'src/styles/_vars.scss';
.depot-container {
  position:relative;
  width: 100%;
  min-width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
.radio-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20%;
  & li {
    padding: 10px;
    font-family: vars.$fontLekton;
    color: vars.$colorMediumGreen;
    font-weight: 500;
    font-size: 1.2em;
    & :hover {
      cursor: pointer;
    }
  }
}
.selected {
  color: vars.$colorOrange;
}
.radio {
  opacity: 0;
}
.title {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: vars.$fontMontserrat;
  color: vars.$colorDarkGreen;
  font-weight: 600;
  font-size: 1.5em;
  border-bottom: solid 1px vars.$colorMediumGreen;
}
.message {
  width: 100%;
  font-size: 1.5em;
  color: vars.$colorOrange;
  text-align: center;
  &-container {
    width: 100%;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 50px;
  }
}
.serverMessage {
  font-family: vars.$fontMontserrat;
  color: vars.$colorDarkGreen;
  font-weight: 600;
  font-size: 1.5em;
  &-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.validOrderButton {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  border-radius: 20px;
  border: solid 1px vars.$colorMediumGreen;
  background: vars.$colorMediumGreen;
  font-family: vars.$fontMontserrat;
  color: vars.$colorBeige;
  font-weight: 600;
  font-size: 1.2em;
  box-shadow: 4px 7px 8px -3px rgba(0,0,0,0.34);
  & :hover {
    cursor: pointer;
  }
  }
  @media screen and (min-width: 577px) and (max-width: 1023px){
    .radio-container{
      width: 80%;
      margin-left: 50px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .depot-container {
      height: 100%; 
    }
    .radio-container li {
      margin-bottom: 20px;
    }
  }
