@use 'src/styles/_vars.scss';

.nav-container {
  width: 100vw;
  align-items: center;
  display: block;
  position: relative;
  height: 0;
  background: vars.$colorBeige;
}
.navbar .menu-items {
  display: flex;
  width: 100%;
  height: 100%;
}
.navbar .nav-container a:hover{
    font-weight: bolder;
}
.nav-container .checkbox {
  position: fixed;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 25;
  opacity: 0;
  cursor: pointer;
}
.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: fixed;
  top: 17px;
  left: 20px;
  z-index: 21;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: vars.$colorOrange; 
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.94);
}
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  position: fixed;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: vars.$colorLightGreen;
  color: rgb(71, 70, 70);
  
}

.navbar .menu-items .navlink {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.login {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
.headerCart {
  width: 90px;
  height: 90px;
  margin-right: 40px;
}
.menu-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}
.more {
  font-size: xx-large;
  font-weight: bold;
}
.shoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.count {
  position: relative;
  top: 20px;
  left: 15px;
  z-index: 3;
  margin: auto;
  text-align: center;
  width: 24px;
  height: 24px;
  font-size: 1.3em;
  font-weight: bold;
  border: solid 2px vars.$colorDarkGreen;
  border-radius: 50px;
  color: vars.$colorDarkGreen;
  background-color: vars.$colorLightGreen;
  & p{
    padding-top: 3px;
  }
}
.login{
  position: absolute;
  top: 15px;
  color: vars.$colorDarkGreen;
  font-family: vars.$fontMontserrat;
  font-weight:400;
}
.navlink{
  font-family: vars.$fontMontserrat;
  color: vars.$colorDarkGreen;
  text-decoration: none;
}
.logo{
  width: 150px;
  height: 150px;
}
.icon{
  z-index: 0;
}
.cart {
  position: absolute;
  top: 30px;
  right: 50px;
}


// sideBar > w576px
  
.navigation {
  position:fixed;
  display: block;
  overflow: hidden;
  top: 0;
  left: 0;
  background: vars.$colorLightGreen;
  z-index: 10;
  width: 70px;
  height: 100vh;
  border-left:solid 10px vars.$colorLightGreen;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s;
}
.navigation.active{
  width: 300px;
  z-index: 10;
  box-shadow: none;
  border: no;
}
.toggle {
  position: absolute;
  bottom: 70px;
  right: 15px;
  width: 50px;
  height: 50px;
  background: vars.$colorBeige;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle::before {
  content: '';
  position: absolute;
  border-radius: 3px;
  width: 26px;
  height: 3px;
  background: vars.$colorOrange;
  transform: translateY(-5px);
  transition: 1s;
}
.toggle::after {
  content: '';
  position: absolute;
  border-radius: 3px;
  width: 26px;
  height: 3px;
  background: vars.$colorOrange;
  transform: translateY(5px);
  transition: 1s;
}
.navigation.active .toggle::before {
  transform: translateY(0px) rotate(-405deg);
}
.navigation.active .toggle::after {
  transform: translateY(0px) rotate(225deg);
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 100px;
}
.navigation ul li{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.navigation ul li a{
position: relative;
display: block;
width: 100%;
display: flex;
text-decoration: none;
color: vars.$colorBeige;
}
.navigation ul li:hover{
  background: vars.$colorBeige;
  color: #222;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}
.navigation ul li a .titleIcon {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.navigation ul li:hover::before{
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 7.5px 7.5px 0 7.5px vars.$colorBeige;
}
.navigation ul li:hover::after{
  content: '';
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 7.5px -7.5px 0 7.5px vars.$colorBeige;
}
.navigation ul li a .icon:hover ion-icon{
  color: vars.$colorOrange;
}
.titleIcon {
  color: vars.$colorDarkGreen;
  font-family: vars.$fontMontserrat;
  &-:hover{
    color: vars.$colorOrange;
  }
}
.titleIcon:hover {
  color: vars.$colorOrange;
}
.link.active {
  border-bottom: none;
}

@media only screen and (min-width: 1024px) {
  .navigation {
    background: vars.$colorBeige;
    border-left:solid 10px vars.$colorBeige;
    box-shadow: 6px 0px 12px -4px rgba(0,0,0,0.34);
  }
  .toggle {
    background: vars.$colorLightGreen;
  }
  .navigation ul li a {
    color :vars.$colorLightGreen;
  }
  .navigation ul li:hover {
    background: vars.$colorLightGreen;
  }
  .navigation ul li:hover::before{
    box-shadow: 7.5px 7.5px 0 7.5px vars.$colorLightGreen;
  }
  .navigation ul li:hover::after{
    box-shadow: 7.5px -7.5px 0 7.5px vars.$colorLightGreen;
  }
}